.navbar-interactive-container {
  display: flex;width: 100%;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  justify-content: space-around;
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-image {
  height: 100px;
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-interactive-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-interactive-navlink01 {
  font-size: 20px;
  text-decoration: none;
}
.navbar-interactive-navlink02 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink03 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink04 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink05 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink06 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink07 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink08 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink09 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink10 {
  display: contents;
}
.navbar-interactive-logo {
  height: 100%;
  text-decoration: none;
}
.navbar-interactive-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-interactive-navlink11 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink12 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink13 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink14 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink15 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink16 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink17 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink18 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink19 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}










@media(max-width: 1200px) {
  .navbar-interactive-links {
    flex-wrap: wrap;
  }
  .navbar-interactive-links1 {
    flex-wrap: wrap;
  }
}
@media(max-width: 991px) {
  .navbar-interactive-links {
    gap: var(--dl-space-space-halfunit);
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
  justify-content: space-around;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
  justify-content: space-around;
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-twounits);
  }
}

.footer-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #383D3D;
}
.footer-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image {
  width: 50px;
  object-fit: cover;
}
.footer-image1 {
  width: 50px;
  object-fit: cover;
}
.footer-image2 {
  width: 50px;
  object-fit: cover;
}
.footer-image3 {
  width: 50px;
  object-fit: cover;
}
.footer-image4 {
  width: 50px;
  object-fit: cover;
}
.footer-container2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-text {
  color: rgb(0, 0, 0);
}
.footer-text1 {
  color: var(--dl-color-gray-white);
}
.footer-text2 {
  color: #000000;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
}
.footer-text4 {
  color: var(--dl-color-gray-white);
}
.footer-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-text5 {
  color: #ffffff;
  align-self: center;
}

.footer-image6 {
  width: 50px;
  object-fit: cover;
}
.footer-image7 {
  width: 50px;
  object-fit: cover;
}










@media(max-width: 767px) {
  .footer-container {
    padding-left: 0%;
    padding-right: 0%;
  }
  .footer-container1 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-container4 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-container1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.albercas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.albercas-code-embed {
  width: 100%;
  height: 600px;
}
.albercas-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
}
.albercas-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-text {
  color: #ffffff;
}
.albercas-text03 {
  color: #ffffff;
}
.albercas-container04 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-code-embed02 {
  width: 100%;
  height: 600px;
}
.albercas-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.albercas-container06 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-code-embed04 {
  width: 100%;
  height: 600px;
}
.albercas-container07 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
}
.albercas-container09 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-text08 {
  color: #ffffff;
}
.albercas-text09 {
  color: #ffffff;
}
.albercas-container10 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-code-embed06 {
  width: 100%;
  height: 600px;
}
.albercas-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.albercas-container12 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-code-embed08 {
  width: 100%;
  height: 600px;
}
.albercas-container13 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
}
.albercas-container15 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-text14 {
  color: #ffffff;
}
.albercas-text17 {
  color: #ffffff;
}
.albercas-container16 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.albercas-code-embed10 {
  width: 100%;
  height: 600px;
}
.albercas-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .albercas-container02 {
    flex-direction: column;
    background-color: #2a2a2a;
  }
  .albercas-container03 {
    width: 100%;
  }
  .albercas-text {
    color: #ffffff;
  }
  .albercas-text03 {
    color: #ffffff;
  }
  .albercas-container04 {
    width: 100%;
  }
  .albercas-container05 {
    flex-direction: column;
  }
  .albercas-container06 {
    width: 100%;
  }
  .albercas-container07 {
    width: 100%;
  }
  .albercas-container08 {
    flex-direction: column;
    background-color: #2a2a2a;
  }
  .albercas-container09 {
    width: 100%;
  }
  .albercas-text08 {
    color: #ffffff;
  }
  .albercas-text09 {
    color: #ffffff;
  }
  .albercas-container10 {
    width: 100%;
  }
  .albercas-container11 {
    flex-direction: column;
  }
  .albercas-container12 {
    width: 100%;
  }
  .albercas-container13 {
    width: 100%;
  }
  .albercas-container14 {
    flex-direction: column;
    background-color: #2a2a2a;
  }
  .albercas-container15 {
    width: 100%;
  }
  .albercas-text14 {
    color: #ffffff;
  }
  .albercas-text17 {
    color: #ffffff;
  }
  .albercas-container16 {
    width: 100%;
  }
}
