.navbar-interactive-container {
  display: flex;width: 100%;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  justify-content: space-around;
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-image {
  height: 100px;
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-interactive-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-interactive-navlink01 {
  font-size: 20px;
  text-decoration: none;
}
.navbar-interactive-navlink02 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink03 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink04 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink05 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink06 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink07 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink08 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink09 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink10 {
  display: contents;
}
.navbar-interactive-logo {
  height: 100%;
  text-decoration: none;
}
.navbar-interactive-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-interactive-navlink11 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink12 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink13 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink14 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink15 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink16 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink17 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink18 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}
.navbar-interactive-navlink19 {
  font-size: 20px;
  margin-left: 0px;
  text-decoration: none;
}










@media(max-width: 1200px) {
  .navbar-interactive-links {
    flex-wrap: wrap;
  }
  .navbar-interactive-links1 {
    flex-wrap: wrap;
  }
}
@media(max-width: 991px) {
  .navbar-interactive-links {
    gap: var(--dl-space-space-halfunit);
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
  justify-content: space-around;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
  justify-content: space-around;
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-links1 {
    gap: var(--dl-space-space-twounits);
  }
}

.footer-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #383D3D;
}
.footer-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image {
  width: 50px;
  object-fit: cover;
}
.footer-image1 {
  width: 50px;
  object-fit: cover;
}
.footer-image2 {
  width: 50px;
  object-fit: cover;
}
.footer-image3 {
  width: 50px;
  object-fit: cover;
}
.footer-image4 {
  width: 50px;
  object-fit: cover;
}
.footer-container2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-text {
  color: rgb(0, 0, 0);
}
.footer-text1 {
  color: var(--dl-color-gray-white);
}
.footer-text2 {
  color: #000000;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
}
.footer-text4 {
  color: var(--dl-color-gray-white);
}
.footer-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-text5 {
  color: #ffffff;
  align-self: center;
}

.footer-image6 {
  width: 50px;
  object-fit: cover;
}
.footer-image7 {
  width: 50px;
  object-fit: cover;
}










@media(max-width: 767px) {
  .footer-container {
    padding-left: 0%;
    padding-right: 0%;
  }
  .footer-container1 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-container4 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-container1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container01 {
  height: 600px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-code-embed {
  width: 100%;
  height: 600px;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #232323;
}
.home-text {
  color: #ffffff;
  font-family: Poppins;
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-container04 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text01 {
  color: #ffffff;
}
.home-navlink1 {
  display: contents;
}
.home-container05 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-container03 a div img{
  height: 200px;
}
.home-image1 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text02 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.home-navlink2 {
  display: contents;
}
.home-container06 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image2 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text03 {
  color: rgb(255, 255, 255);
}
.home-navlink3 {
  display: contents;
}
.home-container07 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image3 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text04 {
  color: rgb(255, 255, 255);
}
.home-navlink4 {
  display: contents;
}
.home-container08 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image4 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text05 {
  color: rgb(255, 255, 255);
}
.home-navlink5 {
  display: contents;
}
.home-container09 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image5 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text06 {
  color: rgb(255, 255, 255);
}
.home-navlink6 {
  display: contents;
}
.home-container10 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image6 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text07 {
  color: rgb(255, 255, 255);
}
.home-navlink7 {
  display: contents;
}
.home-container11 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image7 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text08 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.home-navlink8 {
  display: contents;
}
.home-container12 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 200PX;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.home-image8 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text09 {
  color: rgb(255, 255, 255);
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f8;
}
.home-container14 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  width: 100%;
}
.home-text17 {
  font-weight: 700;
}
.home-text18 {
  font-weight: 700;
}
.home-text19 {
  font-weight: 700;
}
.home-text22 {
  font-weight: 700;
}
.home-text25 {
  font-weight: 700;
}
.home-text28 {
  font-weight: 700;
}
.home-text31 {
  font-weight: 700;
}
.home-iframe {
  flex: 1;
  width: 500px;
  height: 600px;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container15 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container16 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container17 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text34 {
  align-self: center;
}
.home-container18 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text35 {
  align-self: center;
}
.home-text38 {
  align-self: center;
}
.home-text39 {
  color: #ff0505;
  font-weight: 700;
}
.home-text40 {
  color: #ff0505;
}
.home-text41 {
  color: #ff0505;
}
.home-text42 {
  color: #ff0505;
}
@media(max-width: 1200px) {
  .home-container03 {
    width: 75%;
  }
}
@media(max-width: 991px) {
  .home-container03 {
    width: 75%};
  }
  .home-iframe {
    width: 400px;
    height: 600px;
    align-self: flex-start;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-container03 {
    width: 100%;
  }
  .home-container13 {
    flex-wrap: wrap;
  }
  .home-container14 {
    width: 254px;
  }
  .home-iframe {
    flex: 3;
    width: 400px;
    height: 600px;
  }
  .home-container15 {
    flex: 3;
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-container03 {
    width: 100%;
  }
  .home-image {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image1 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image2 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image3 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image4 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image5 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image6 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image7 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-image8 {
    height: 150px !important;
    width: 150px !important;
  }
  .home-container13 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home-container14 {
    width: 100%;
  }
  .home-iframe {
    width: auto;
    height: 600px;
  }
  .home-container15 {
    width: 100%;
  }
}
