<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <img
        alt="image"
        src="public/external/safe-200w.png"
        class="footer-image"
      />
      <img alt="image" src="public/external/m-200h.png" class="footer-image1" />
      <img alt="image" src="public/external/o-200w.png" class="footer-image2" />
      <img
        alt="image"
        src="public/external/cadigo.png"
        class="footer-image3"
      />
      <img
        alt="image"
        src="public/external/bandera-200h.png"
        class="footer-image4"
      />
    </div>
    <div class="footer-container2">
      <div class="footer-container3">
        <span class="footer-text">
          <span class="footer-text1">
            TextEl Arenal © 2023.| Balneario | Hotel | Restaurante |
          </span>
          <br class="footer-text2" />
          <br class="footer-text3" />
          <span class="footer-text4">Todos los derechos Resevados.</span>
        </span>
      </div>
      <div class="footer-container4">
        <span class="footer-text5">
          <span>Redes Sociales</span>
          <br />
        </span>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="footer-image5"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="footer-image6"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="footer-image7"
        />
      </div>
    </div>
  </div>
</div>
