<div>
  <link href="./navbar-interactive.css" rel="stylesheet" />
  <div class="navbar-interactive-container">
    <header data-thq="thq-navbar" class="navbar-interactive-navbar-interactive">
      <a href="index" class="navbar-interactive-navlink">
        <img
          alt="logo"
          src="public/external/logo-1500h.png"
          class="navbar-interactive-image"
        />
      </a>
      <div data-thq="thq-navbar-nav" class="navbar-interactive-desktop-menu">
        <nav class="navbar-interactive-links">
          <a href="conocenos" class="navbar-interactive-navlink01">
            <span>CONÓCENOS</span>
          </a>
          <a href="albercas" class="navbar-interactive-navlink02">
            <span>ALBERCAS</span>
          </a>
          <a href="hotel" class="navbar-interactive-navlink03">
            <span>HOTEL</span>
          </a>
          <a href="restaurante" class="navbar-interactive-navlink04">
            <span>RESTAURANTE-BAR</span>
          </a>
          <a href="hidromasaje" class="navbar-interactive-navlink05">
            <span>HIDROMASAJE</span>
          </a>
          <a href="campamento" class="navbar-interactive-navlink06">
            <span>CAMPAMENTO</span>
          </a>
          <a href="spa" class="navbar-interactive-navlink07">
            <span>SPA</span>
          </a>
          <a href="eventos" class="navbar-interactive-navlink08">
            <span>EVENTOS</span>
          </a>
          <a href="temazcal" class="navbar-interactive-navlink09">
            <span>TEMAZCAL</span>
          </a>
        </nav>
      </div>
      <div data-thq="thq-burger-menu" class="navbar-interactive-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-interactive-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="navbar-interactive-mobile-menu">
        <div class="navbar-interactive-nav">
          <div class="navbar-interactive-top">
            <a href="index" class="navbar-interactive-navlink10">
              <img
                alt="image"
                src="public/external/logo-1500h.png"
                class="navbar-interactive-logo"
              />
            </a>
            <div
              data-thq="thq-close-menu"
              class="navbar-interactive-close-menu"
            >
              <svg viewBox="0 0 1024 1024" class="navbar-interactive-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navbar-interactive-links1">
            <a href="conocenos" class="navbar-interactive-navlink11">
              <span>CONÓCENOS</span>
            </a>
            <a href="albercas" class="navbar-interactive-navlink12">
              <span>ALBERCAS</span>
            </a>
            <a href="hotel" class="navbar-interactive-navlink13">
              <span>HOTEL</span>
            </a>
            <a href="restaurante" class="navbar-interactive-navlink14">
              <span>RESTAURANTE-BAR</span>
            </a>
            <a href="hidromasaje" class="navbar-interactive-navlink15">
              <span>HIDROMASAJE</span>
            </a>
            <a href="campamento" class="navbar-interactive-navlink16">
              <span>CAMPAMENTO</span>
            </a>
            <a href="spa" class="navbar-interactive-navlink17">
              <span>SPA</span>
            </a>
            <a href="eventos" class="navbar-interactive-navlink18">
              <span>EVENTOS</span>
            </a>
            <a href="temazcal" class="navbar-interactive-navlink19">
              <span>TEMAZCAL</span>
            </a>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
